<div class="pa-footer-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="pa-foot-box">
                    <h2 class="pa-foot-title">Découvrir notre plateforme</h2>
                    <ul>
                        <li>
                            <a href="">Acceuil</a>
                        </li>
                        <li>
                            <a href="/about">Qui sommes nous</a>
                        </li>
                        <li>
                            <a href="/services">Services</a>
                        </li>
                        
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="pa-foot-box">
                    <h2 class="pa-foot-title">Profitez de nos services</h2>
                    <ul>
                        <li>
                            <a href="">Achats</a>
                        </li>
                        <li>
                            <a href="">Entraîneurs</a>
                        </li>
                        <li>
                            <a href="">plans d'entraînement</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pa-foot-box pa-foot-subscribe">
                    <img src="assets/images/lightpfe.png" width="110px" height="100px" alt="image" class="img-fluid" />
                    <h2 class="pa-foot-title"><a href="/contact">Contactez-nous</a></h2>
                    <p>Nous sommes là pour vous accompagner dans votre parcours vers un mode de vie plus sain. Notre plateforme vous offre une expérience fluide, avec des programmes d'entraînement personnalisés, des conseils d'experts dispensés par des coachs certifiés,et une communauté solidaire pour vous maintenir motivé(e). </p>
                    <div class="pa-newsletter">
                        
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- copyright start -->
 <div class="pa-copyright">
    <div class="container">
        <p>Fitness &copy; 2023-2024.Tous droits réservés. <a href="">Fitness</a></p>
    </div>
</div>
<!-- copyright end -->