.lien-connexion {
    color: #ffffff; /* Couleur du texte */
    /* Autres styles CSS */
  }.custom-ok-button {
    background-color: #6caaa8; /* Remplacez "yourColor" par la couleur que vous souhaitez */
    color: #fff; /* Couleur du texte */
    /* Ajoutez d'autres styles selon vos besoins */
  }