.pa-right {
    
    margin-left: 145px; /* Ajustez la marge selon vos besoins */
}
/* style.css */
/* style.css */
.pa-login-model {
    background-color: #f0f0f0; /* Couleur grise de votre choix */
    padding: 20px; /* Ajoutez un peu d'espace intérieur pour le formulaire */
}